*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.homePage{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 10px;
  align-content: center;
  justify-content: center;
}

.homePage img {
  width:100%;
}

.pagination{
  list-style:none ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: #5AB1BB;
  color: #fff;
}

.pagination .active {
  background-color: #5AB1BB;
}

.pagination .previousNext {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight:bold;
  background-color: #7e9de0;
}

.pagination .previousNext:hover {
  background-color: #193fd5;
  color: #fff;
}

.pagination .active {
  background-color: #5AB1BB;
}